@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
}